
<div class="jumbotron">
  <h1>Customers</h1>
  <p>Add new customers or edit the existing ones</p>
</div>
<hr/>
<p class="lead">New Customer</p>

<form class="form-inline" #customerForm="ngForm" (submit)="addNewCustomer()">
  <div class="form-group">
    <label for="newFirstName">First Name</label>
    <input [(ngModel)]="newCustomer.firstName" name="newFirstName" type="text" class="form-control" id="newFirstName" placeholder="First Name" required>
  </div>

  <div class="form-group">
    <label for="newLastName">Last Name</label>
    <input  [(ngModel)]="newCustomer.lastName" name="newLastName" type="text" class="form-control" id="newLastName" placeholder="Last Name" required>
  </div>

  <div class="form-group">
    <label for="newEmail">Email</label>
    <input [(ngModel)]="newCustomer.email" name="newLastName" type="email" class="form-control" id="newEmail" placeholder="Email" required>
  </div>

  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add new customer</button>
</form>

<hr/>
<p class="lead">Selected customer</p>
<form class="form-inline" *ngIf="selectedCustomer" #updateForm="ngForm" (submit)="updateSelectedCustomer(selectedCustomer)">

  <div class="form-group">
    <label class="sr-only" for="firstName">First name</label>
    <input [(ngModel)]="selectedCustomer.firstName" name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required>
  </div>

  <div class="form-group">
    <label class="sr-only" for="lastName">Last name</label>
    <input [(ngModel)]="selectedCustomer.lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" required>
  </div>

  <div class="form-group">
    <label class="sr-only" for="email">Email</label>
    <input [(ngModel)]="selectedCustomer.email" name="email" type="email" class="form-control" id="email" placeholder="Email" required>
  </div>

  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>Update details</button>
  <button (click)="removeSelectedCustomer()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Remove customer</button>
</form>

<div *ngIf="!selectedCustomer">
  <div class="alert alert-warning" role="alert"><strong>Customer</strong> not selected</div>
</div>

<hr/>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List of customers</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers" (click)="setSelectedCustomer(customer)" [class.active]="customer === selectedCustomer">
    <td scope="row">{{customer.id}}</td>
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.email}}</td>
  </tr>
  </tbody>
</table>
</div>






