<div class="jumbotron">
  <h1>History</h1>
  <p>Track the history of purchases</p>
</div>

<hr/>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Order History</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let purchase of purchases">
      <td>{{purchase.id}}</td>
      <td>{{purchase.customer.firstName}} {{purchase.customer.lastName}}</td>
      <td>{{purchase.product.productName}}</td>
      <td>{{purchase.quantity}}</td>
      <td>${{purchase.quantity * purchase.product.price}}</td>
    </tr>
  </tbody>
</table>
</div>
