<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Warehouse</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a routerLink="/order">{{titles[0]}}<span class="sr-only">(current)</span></a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/customers" >{{titles[1]}}</a></li>
        <li [routerLinkActive]="['active']"><a  routerLink="/stock">{{titles[2]}}</a></li>
        <li [routerLinkActive]="['active']"><a  routerLink="/history">{{titles[3]}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <!--ROUTER-->
<br/>
  <br/>
  <br/>
  <router-outlet></router-outlet>
</div>


<footer>
  <div class="container">
    <div class="well">Warehouse Manager 2017 - @author Chiper Calin</div>
  </div>
</footer>
