<div class="jumbotron">
  <h1>Create an order </h1>
  <p>Process a new order from a customer</p>
</div>

<hr/>

<div [hidden]="submitted || invalid">
  <form #orderForm="ngForm" (submit)="onSubmit(orderForm.value, orderForm.valid)" novalidate>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Customer</div>
        <select  [(ngModel)]="purchase.customer" #customer="ngModel" name="customer" class="form-control" >
          <option *ngFor="let customer of customers" [ngValue]="customer"> {{customer.firstName}} {{customer.lastName}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Product</div>
        <select [(ngModel)]="purchase.product" #product="ngModel" name="product" class="form-control" >

          <option *ngFor="let product of stock" [ngValue]="product.product"> {{product.product.productName}}</option>
        </select>
      </div>
    </div>

    <div [hidden]="product.valid || product.pristine" class="alert alert-danger">
      Product is required
    </div>


    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Quantity</div>
        <input required [(ngModel)]="purchase.quantity" #quantity="ngModel" name="quantity" type="number" class="form-control" placeholder="Amount">
      </div>

      <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
        Quantity is required
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Submit</button>
      </div>
    </div>
  </form>

</div>


<div [hidden]="!submitted" class="panel panel-success">
  <div class="panel-heading"><strong>Success!</strong> You submitted the following order</div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-3">Customer</div>
        <div class="col-xs-9  pull-left">{{ purchase.customer.firstName }} {{ purchase.customer.lastName }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-3">Product</div>
        <div class="col-xs-9 pull-left">{{ purchase.product.productName}}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-3">Quantity</div>
        <div class="col-xs-9 pull-left">{{ purchase.quantity }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-3">Cost</div>
        <div class="col-xs-9 pull-left">${{ price }}</div>
      </div>
    </li>
  </ul>
</div>

<div [hidden]="!invalid || submitted" class="alert alert-danger" role="alert" >
  <strong>Invalid quantity!</strong> Please, check the stock.
</div>

<br/>
<br/>
<br/>
<br/>
<br/>



