<div class="jumbotron">
  <h1>Stock</h1>
  <p>Manage the warehouse stock</p>
</div>

<hr/>

<p class="lead">New Product</p>

<form #productForm="ngForm" (submit)="addNewProduct()">

  <div class="form-group" >
    <label for="newProductName">Product Name</label>
    <input [(ngModel)]="newStock.product.productName" name="productName" type="text" class="form-control" id="newProductName" placeholder="Product Name" required>
  </div>

  <div class="form-group" >
    <label for="newCategory">Category</label>
    <select [(ngModel)]="newStock.product.category" name="category" id="newCategory" class="form-control" required>
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="newDescription">Description</label>
    <textarea [(ngModel)]="newStock.product.description" name="description" required id="newDescription" class="form-control" rows="3" placeholder="Description"></textarea>
  </div>

  <div class="form-group">
    <label for="newPrice">Price</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input [(ngModel)]="newStock.product.price" name="price" required id="newPrice" type="number" class="form-control" placeholder="Amount">
    </div>
  </div>

  <div class="form-group">
    <label for="newQuantity">Total Quantity</label>
    <div class="input-group">
      <div class="input-group-addon">Quantity</div>
      <input [(ngModel)]="newStock.totalQuantity" name="totalQuantity" required id="newQuantity" type="number" class="form-control" placeholder="Amount">
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-default">Add product</button>
  </div>
</form>

<hr/>
<p class="lead">Selected product</p>
<form class="form-inline" *ngIf="selectedStock" #updateForm="ngForm" (submit)="updatePriceAndQuantity()">

  <div class="form-group">
    <label class="sr-only" for="price">New Price</label>
    <div class="input-group">
      <div class="input-group-addon">Price</div>
      <input [(ngModel)]="selectedStock.product.price" name="price" type="number" class="form-control" id="price" placeholder="Amount" required>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="quantity">New Quantity</label>
    <div class="input-group">
      <div class="input-group-addon">Quantity</div>
    <input [(ngModel)]="selectedStock.totalQuantity" name="quantity" type="number" class="form-control" id="quantity" placeholder="Amount" required>
    </div>
  </div>

  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>Update price and quantity</button>
</form>

<div *ngIf="!selectedStock">
  <div class="alert alert-warning" role="alert"><strong>Product</strong> not selected</div>
</div>

<hr/>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Products</div>

<table class="table table-hover">
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    <tr *ngFor="let stock of stockList" (click)="setSelectedStock(stock)" [class.active]="selectedStock === stock" [class.danger]="stock.totalQuantity === 0">
      <td scope="row">{{stock.product.id}}</td>
      <td>{{stock.product.productName}}</td>
      <td>{{stock.product.category}}</td>
      <td>{{stock.product.price}}</td>
      <td>{{stock.totalQuantity}}</td>
      <td><button (click)="deleteSelectedProduct()" type="button" class="btn btn-default" aria-label="Left Align" [class.disabled]="selectedStock !== stock">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
