.container  {
  background: rgba(192, 159, 128, 0.5);
}

body {
  background: url("assets/images/home-background.jpg");
}

.jumbotron {
  background: rgba(215, 206, 199, 0.5);
}

.jumbotron h1 {
  color: #76323F;
}

.jumbotron p {
  color: #565656;
}

.table {
  background: #D7CEC7;
}



