<div class="jumbotron">
  <h1>Home</h1>
  <p>Warehouse manager home page</p>
</div>

  <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="../../assets/images/wh1.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Efficient product managing</h3>
          <p>This manager will keep the administrate your stock easy, fast with no effort</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/wh2.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Under control</h3>
          <p>As a manager you can manage your customers data and your stock</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/wh3.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Stay organized </h3>
          <p>Forget all the redundant papers for every product. Every information is here, in a single application</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/wh4.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Stock tracker</h3>
          <p>The app will track all the quantities of every product</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/wh5.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Intelligent paper work</h3>
          <p>Your contract between your client and the bought product is just simple button. The app will do all the formalities</p>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About</h3>
  </div>
  <div class="panel-body">
    {{welcomeText}}
  </div>
</div>
<hr/>

