.item{
  text-align: center;
  width: auto;
}

.slider-size {
  height: 300px; /* This is your slider height */

}
.carousel {
  width:70%;
  margin:0 auto; /* center your carousel if other than 100% */
}

.panel-body {
  background: #D7CEC7;
}


